*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.chapter-links{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}


.link{
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

li{
  margin-bottom: 20px;
}

#teacher{
  text-align: center;
  height: auto;
}

#teacher-text{
  font-size: 50px;
  margin: auto;
  color: white;
}

#teacher-image{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
